<h1>Favorite Kicks</h1>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Style</th>
      <th scope="col">Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </table>